# This is a development tool to run the GUI on a browser
# See instructions in Dockerfile for headless CLI operation
# Usage:
#   export TEST_DATA=/path/to/my/data
#   docker compose up --build

services:
  dream3d:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - DISPLAY=$DISPLAY
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ./src:/opt/microtexture/src
      - ${TEST_DATA-./Sample_ANG_Files}:/data:rw
    user: 1000:1000
    working_dir: /data
    entrypoint: ["python", "-m", "microtexture", "gui"]
