# This is a development tool to run the pipeline on the test dataset
# Usage:
#   docker compose up --build

services:
  dream3d-test:
    build:
      context: .
      dockerfile: Dockerfile
      target: base
    volumes:
      - ./src:/opt/microtexture/src
      - ./Sample_ANG_Files:/data:rw
    user: 1000:1000
    working_dir: /data
    command: ["--overwrite", "*.ang"]
