{% macro output_path() -%}
    {{output_dir}}/{{varargs|join('')}}
{%- endmacro %}
{
    "00": {
        "CellAttributeMatrixName": "CellData",
        "CellEnsembleAttributeMatrixName": "CellEnsembleData",
        "DataContainerName": "ImageDataContainer",
        "FilterVersion": "6.5.49",
        "Filter_Enabled": true,
        "Filter_Human_Label": "Import EDAX EBSD Data (.ang)",
        "Filter_Name": "ReadAngData",
        "Filter_Uuid": "{b8e128a8-c2a3-5e6c-a7ad-e4fb864e5d40}",
        "InputFile": "{{ input_file }}"
    },
    "01": {
        "CellAttributeMatrixPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "",
            "Data Container Name": "ImageDataContainer"
        },
        "FilterVersion": "6.5.49",
        "Filter_Enabled": true,
        "Filter_Human_Label": "Rotate Sample Reference Frame",
        "Filter_Name": "RotateSampleRefFrame",
        "Filter_Uuid": "{e25d9b4c-2b37-578c-b1de-cf7032b5ef19}",
        "RotationAngle": 0,
        "RotationAxis": {
            "x": 0,
            "y": 1,
            "z": 0
        }
    },
    "02": {
        "CellEulerAnglesArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "EulerAngles",
            "Data Container Name": "ImageDataContainer"
        },
        "FilterVersion": "6.5.49",
        "Filter_Enabled": true,
        "Filter_Human_Label": "Rotate Euler Reference Frame",
        "Filter_Name": "RotateEulerRefFrame",
        "Filter_Uuid": "{ef9420b2-8c46-55f3-8ae4-f53790639de4}",
        "RotationAngle": 90,
        "RotationAxis": {
            "x": 0,
            "y": 0,
            "z": 1
        }
    },
    "03": {
        "CellEulerAnglesArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "EulerAngles",
            "Data Container Name": "ImageDataContainer"
        },
        "FilterVersion": "6.5.49",
        "Filter_Enabled": true,
        "Filter_Human_Label": "Rotate Euler Reference Frame",
        "Filter_Name": "RotateEulerRefFrame",
        "Filter_Uuid": "{ef9420b2-8c46-55f3-8ae4-f53790639de4}",
        "RotationAngle": 0,
        "RotationAxis": {
            "x": 0,
            "y": 1,
            "z": 0
        }
    },
    "04": {
        "CellEulerAnglesArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "EulerAngles",
            "Data Container Name": "ImageDataContainer"
        },
        "FilterVersion": "6.5.49",
        "Filter_Enabled": true,
        "Filter_Human_Label": "Rotate Euler Reference Frame",
        "Filter_Name": "RotateEulerRefFrame",
        "Filter_Uuid": "{ef9420b2-8c46-55f3-8ae4-f53790639de4}",
        "RotationAngle": 0,
        "RotationAxis": {
            "x": 1,
            "y": 0,
            "z": 0
        }
    },
    "05": {
        "CellEulerAnglesArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "EulerAngles",
            "Data Container Name": "ImageDataContainer"
        },
        "CellIPFColorsArrayName": "IPF_Raw_Z",
        "CellPhasesArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "Phases",
            "Data Container Name": "ImageDataContainer"
        },
        "CrystalStructuresArrayPath": {
            "Attribute Matrix Name": "CellEnsembleData",
            "Data Array Name": "CrystalStructures",
            "Data Container Name": "ImageDataContainer"
        },
        "FilterVersion": "6.5.49",
        "Filter_Enabled": true,
        "Filter_Human_Label": "Generate IPF Colors",
        "Filter_Name": "GenerateIPFColors",
        "Filter_Uuid": "{a50e6532-8075-5de5-ab63-945feb0de7f7}",
        "GoodVoxelsArrayPath": {
            "Attribute Matrix Name": "",
            "Data Array Name": "",
            "Data Container Name": ""
        },
        "ReferenceDir": {
            "x": 0,
            "y": 0,
            "z": 1
        },
        "UseGoodVoxels": 0
    },
    "06": {
        "CellEulerAnglesArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "EulerAngles",
            "Data Container Name": "ImageDataContainer"
        },
        "CellIPFColorsArrayName": "IPF_Raw_Y",
        "CellPhasesArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "Phases",
            "Data Container Name": "ImageDataContainer"
        },
        "CrystalStructuresArrayPath": {
            "Attribute Matrix Name": "CellEnsembleData",
            "Data Array Name": "CrystalStructures",
            "Data Container Name": "ImageDataContainer"
        },
        "FilterVersion": "6.5.49",
        "Filter_Enabled": true,
        "Filter_Human_Label": "Generate IPF Colors",
        "Filter_Name": "GenerateIPFColors",
        "Filter_Uuid": "{a50e6532-8075-5de5-ab63-945feb0de7f7}",
        "GoodVoxelsArrayPath": {
            "Attribute Matrix Name": "",
            "Data Array Name": "",
            "Data Container Name": ""
        },
        "ReferenceDir": {
            "x": 0,
            "y": 1,
            "z": 0
        },
        "UseGoodVoxels": 0
    },
    "07": {
        "CellEulerAnglesArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "EulerAngles",
            "Data Container Name": "ImageDataContainer"
        },
        "CellIPFColorsArrayName": "IPF_Raw_X",
        "CellPhasesArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "Phases",
            "Data Container Name": "ImageDataContainer"
        },
        "CrystalStructuresArrayPath": {
            "Attribute Matrix Name": "CellEnsembleData",
            "Data Array Name": "CrystalStructures",
            "Data Container Name": "ImageDataContainer"
        },
        "FilterVersion": "6.5.49",
        "Filter_Enabled": true,
        "Filter_Human_Label": "Generate IPF Colors",
        "Filter_Name": "GenerateIPFColors",
        "Filter_Uuid": "{a50e6532-8075-5de5-ab63-945feb0de7f7}",
        "GoodVoxelsArrayPath": {
            "Attribute Matrix Name": "",
            "Data Array Name": "",
            "Data Container Name": ""
        },
        "ReferenceDir": {
            "x": 1,
            "y": 0,
            "z": 0
        },
        "UseGoodVoxels": 0
    },
    "08": {
        "DestinationArrayName": "Mask",
        "FilterVersion": "1.2.675",
        "Filter_Enabled": true,
        "Filter_Human_Label": "Threshold Objects",
        "Filter_Name": "MultiThresholdObjects",
        "Filter_Uuid": "{014b7300-cf36-5ede-a751-5faf9b119dae}",
        "SelectedThresholds": [
            {
                "Attribute Array Name": "Confidence Index",
                "Attribute Matrix Name": "CellData",
                "Comparison Operator": 1,
                "Comparison Value": {{ ci_mask_threshold }},
                "Data Container Name": "ImageDataContainer"
            },
            {
                "Attribute Array Name": "Image Quality",
                "Attribute Matrix Name": "CellData",
                "Comparison Operator": 1,
                "Comparison Value": {{ iq_mask_threshold }},
                "Data Container Name": "ImageDataContainer"
            }
        ]
    },
    "09": {
        "CellEulerAnglesArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "EulerAngles",
            "Data Container Name": "ImageDataContainer"
        },
        "CellPhasesArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "Phases",
            "Data Container Name": "ImageDataContainer"
        },
        "CrystalStructuresArrayPath": {
            "Attribute Matrix Name": "CellEnsembleData",
            "Data Array Name": "CrystalStructures",
            "Data Container Name": "ImageDataContainer"
        },
        "FilterVersion": "6.5.49",
        "Filter_Enabled": true,
        "Filter_Human_Label": "Export Pole Figure Images",
        "Filter_Name": "WritePoleFigure",
        "Filter_Uuid": "{a10bb78e-fcff-553d-97d6-830a43c85385}",
        "GenerationAlgorithm": 0,
        "GoodVoxelsArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "Mask",
            "Data Container Name": "ImageDataContainer"
        },
        "ImageFormat": 0,
        "ImageLayout": 2,
        "ImagePrefix": "Thresholded_Pole_Figure_",
        "ImageSize": 256,
        "LambertSize": 64,
        "MaterialNameArrayPath": {
            "Attribute Matrix Name": "CellEnsembleData",
            "Data Array Name": "MaterialName",
            "Data Container Name": "ImageDataContainer"
        },
        "NumColors": 32,
        "OutputPath": "{{ output_path('PoleFigures') }}",
        "Title": "Thresholded Pole Figure",
        "UseGoodVoxels": 1
    },
    "10": {
        "FilterVersion": "6.5.49",
        "Filter_Enabled": true,
        "Filter_Human_Label": "Convert Orientation Representation",
        "Filter_Name": "ConvertOrientations",
        "Filter_Uuid": "{e5629880-98c4-5656-82b8-c9fe2b9744de}",
        "InputOrientationArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "EulerAngles",
            "Data Container Name": "ImageDataContainer"
        },
        "InputType": 0,
        "OutputOrientationArrayName": "Quats",
        "OutputType": 2
    },
    "11": {
        "CAxisLocationsArrayName": "Raw_CAxes",
        "FilterVersion": "6.5.49",
        "Filter_Enabled": true,
        "Filter_Human_Label": "Find C-Axis Locations",
        "Filter_Name": "FindCAxisLocations",
        "Filter_Uuid": "{68ae7b7e-b9f7-5799-9f82-ce21d0ccd55e}",
        "QuatsArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "Quats",
            "Data Container Name": "ImageDataContainer"
        }
    },
    "12": {
        "CellPhasesArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "Phases",
            "Data Container Name": "ImageDataContainer"
        },
        "CrystalStructuresArrayPath": {
            "Attribute Matrix Name": "CellEnsembleData",
            "Data Array Name": "CrystalStructures",
            "Data Container Name": "ImageDataContainer"
        },
        "FilterVersion": "6.5.49",
        "Filter_Enabled": true,
        "Filter_Human_Label": "Neighbor Orientation Comparison (Bad Data)",
        "Filter_Name": "BadDataNeighborOrientationCheck",
        "Filter_Uuid": "{f4a7c2df-e9b0-5da9-b745-a862666d6c99}",
        "GoodVoxelsArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "Mask",
            "Data Container Name": "ImageDataContainer"
        },
        "MisorientationTolerance": 5,
        "NumberOfNeighbors": 3,
        "QuatsArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "Quats",
            "Data Container Name": "ImageDataContainer"
        }
    },
    "13": {
        "ConfidenceIndexArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "Confidence Index",
            "Data Container Name": "ImageDataContainer"
        },
        "FilterVersion": "6.5.49",
        "Filter_Enabled": true,
        "Filter_Human_Label": "Replace Element Attributes with Neighbor (Threshold)",
        "Filter_Name": "ReplaceElementAttributesWithNeighborValues",
        "Filter_Uuid": "{17410178-4e5f-58b9-900e-8194c69200ab}",
        "Loop": 0,
        "MinConfidence": {{ ci_primary_threshold }},
        "SelectedComparison": 0
    },
    "14": {
        "CellPhasesArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "Phases",
            "Data Container Name": "ImageDataContainer"
        },
        "ConfidenceIndexArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "Confidence Index",
            "Data Container Name": "ImageDataContainer"
        },
        "CrystalStructuresArrayPath": {
            "Attribute Matrix Name": "CellEnsembleData",
            "Data Array Name": "CrystalStructures",
            "Data Container Name": "ImageDataContainer"
        },
        "FilterVersion": "6.5.49",
        "Filter_Enabled": true,
        "Filter_Human_Label": "Neighbor Orientation Correlation",
        "Filter_Name": "NeighborOrientationCorrelation",
        "Filter_Uuid": "{6427cd5e-0ad2-5a24-8847-29f8e0720f4f}",
        "Level": 3,
        "MinConfidence": {{ ci_secondary_threshold }},
        "MisorientationTolerance": 5,
        "QuatsArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "Quats",
            "Data Container Name": "ImageDataContainer"
        }
    },
    "15": {
        "FillHoles": 0,
        "FilterVersion": "6.5.49",
        "Filter_Enabled": true,
        "Filter_Human_Label": "Isolate Largest Feature (Identify Sample)",
        "Filter_Name": "IdentifySample",
        "Filter_Uuid": "{0e8c0818-a3fb-57d4-a5c8-7cb8ae54a40a}",
        "GoodVoxelsArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "Mask",
            "Data Container Name": "ImageDataContainer"
        }
    },
    "16": {
        "ActiveArrayName": "Active",
        "CellFeatureAttributeMatrixName": "CellFeatureData",
        "CellPhasesArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "Phases",
            "Data Container Name": "ImageDataContainer"
        },
        "CrystalStructuresArrayPath": {
            "Attribute Matrix Name": "CellEnsembleData",
            "Data Array Name": "CrystalStructures",
            "Data Container Name": "ImageDataContainer"
        },
        "FeatureIdsArrayName": "MTRIds",
        "FilterVersion": "6.5.49",
        "Filter_Enabled": true,
        "Filter_Human_Label": "Segment Features (C-Axis Misalignment)",
        "Filter_Name": "CAxisSegmentFeatures",
        "Filter_Uuid": "{bff6be19-1219-5876-8838-1574ad29d965}",
        "GoodVoxelsArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "Mask",
            "Data Container Name": "ImageDataContainer"
        },
        "MisorientationTolerance": {{ caxis_misalignment }},
        "QuatsArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "Quats",
            "Data Container Name": "ImageDataContainer"
        },
        "UseGoodVoxels": 1
    },
    "17": {
        "CellPhasesArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "Phases",
            "Data Container Name": "ImageDataContainer"
        },
        "FeatureIdsArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "MTRIds",
            "Data Container Name": "ImageDataContainer"
        },
        "FeaturePhasesArrayPath": {
            "Attribute Matrix Name": "CellFeatureData",
            "Data Array Name": "Phases",
            "Data Container Name": "ImageDataContainer"
        },
        "FilterVersion": "6.5.49",
        "Filter_Enabled": true,
        "Filter_Human_Label": "Find Feature Phases",
        "Filter_Name": "FindFeaturePhases",
        "Filter_Uuid": "{6334ce16-cea5-5643-83b5-9573805873fa}"
    },
    "18": {
        "AvgEulerAnglesArrayPath": {
            "Attribute Matrix Name": "CellFeatureData",
            "Data Array Name": "AvgEuler",
            "Data Container Name": "ImageDataContainer"
        },
        "AvgQuatsArrayPath": {
            "Attribute Matrix Name": "CellFeatureData",
            "Data Array Name": "AvgQuats",
            "Data Container Name": "ImageDataContainer"
        },
        "CellPhasesArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "Phases",
            "Data Container Name": "ImageDataContainer"
        },
        "CrystalStructuresArrayPath": {
            "Attribute Matrix Name": "CellEnsembleData",
            "Data Array Name": "CrystalStructures",
            "Data Container Name": "ImageDataContainer"
        },
        "FeatureIdsArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "MTRIds",
            "Data Container Name": "ImageDataContainer"
        },
        "FilterVersion": "6.5.49",
        "Filter_Enabled": true,
        "Filter_Human_Label": "Find Feature Average Orientations",
        "Filter_Name": "FindAvgOrientations",
        "Filter_Uuid": "{bf7036d8-25bd-540e-b6de-3a5ab0e42c5f}",
        "QuatsArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "Quats",
            "Data Container Name": "ImageDataContainer"
        }
    },
    "19": {
        "CentroidsArrayPath": {
            "Attribute Matrix Name": "CellFeatureData",
            "Data Array Name": "Centroids",
            "Data Container Name": "ImageDataContainer"
        },
        "FeatureIdsArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "MTRIds",
            "Data Container Name": "ImageDataContainer"
        },
        "FilterVersion": "6.5.49",
        "Filter_Enabled": true,
        "Filter_Human_Label": "Find Feature Centroids",
        "Filter_Name": "FindFeatureCentroids",
        "Filter_Uuid": "{6f8ca36f-2995-5bd3-8672-6b0b80d5b2ca}"
    },
    "20": {
        "BoundaryCellsArrayName": "BoundaryCells",
        "CellFeatureAttributeMatrixPath": {
            "Attribute Matrix Name": "CellFeatureData",
            "Data Array Name": "",
            "Data Container Name": "ImageDataContainer"
        },
        "FeatureIdsArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "MTRIds",
            "Data Container Name": "ImageDataContainer"
        },
        "FilterVersion": "6.5.49",
        "Filter_Enabled": true,
        "Filter_Human_Label": "Find Feature Neighbors",
        "Filter_Name": "FindNeighbors",
        "Filter_Uuid": "{97cf66f8-7a9b-5ec2-83eb-f8c4c8a17bac}",
        "NeighborListArrayName": "NeighborList",
        "NumNeighborsArrayName": "NumNeighbors",
        "SharedSurfaceAreaListArrayName": "SharedSurfaceAreaList",
        "StoreBoundaryCells": 0,
        "StoreSurfaceFeatures": 0,
        "SurfaceFeaturesArrayName": "SurfaceFeatures"
    },
    "21": {
        "ApplyToSinglePhase": 0,
        "FeatureIdsArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "MTRIds",
            "Data Container Name": "ImageDataContainer"
        },
        "FeaturePhasesArrayPath": {
            "Attribute Matrix Name": "CellFeatureData",
            "Data Array Name": "Phases",
            "Data Container Name": "ImageDataContainer"
        },
        "FilterVersion": "6.5.49",
        "Filter_Enabled": true,
        "Filter_Human_Label": "Minimum Number of Neighbors",
        "Filter_Name": "MinNeighbors",
        "Filter_Uuid": "{dab5de3c-5f81-5bb5-8490-73521e1183ea}",
        "MinNumNeighbors": 4,
        "NumNeighborsArrayPath": {
            "Attribute Matrix Name": "CellFeatureData",
            "Data Array Name": "NumNeighbors",
            "Data Container Name": "ImageDataContainer"
        },
        "PhaseNumber": 0
    },
    "22": {
        "Direction": 1,
        "FeatureIdsArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "MTRIds",
            "Data Container Name": "ImageDataContainer"
        },
        "FilterVersion": "6.5.49",
        "Filter_Enabled": true,
        "Filter_Human_Label": "Erode/Dilate Bad Data",
        "Filter_Name": "ErodeDilateBadData",
        "Filter_Uuid": "{3adfe077-c3c9-5cd0-ad74-cf5f8ff3d254}",
        "NumIterations": 2,
        "XDirOn": 1,
        "YDirOn": 1,
        "ZDirOn": 1
    },
    "23": {
        "Direction": 0,
        "FeatureIdsArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "MTRIds",
            "Data Container Name": "ImageDataContainer"
        },
        "FilterVersion": "6.5.49",
        "Filter_Enabled": true,
        "Filter_Human_Label": "Erode/Dilate Bad Data",
        "Filter_Name": "ErodeDilateBadData",
        "Filter_Uuid": "{3adfe077-c3c9-5cd0-ad74-cf5f8ff3d254}",
        "NumIterations": 2,
        "XDirOn": 1,
        "YDirOn": 1,
        "ZDirOn": 1
    },
    "24": {
        "CellPhasesArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "Phases",
            "Data Container Name": "ImageDataContainer"
        },
        "FeatureIdsArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "MTRIds",
            "Data Container Name": "ImageDataContainer"
        },
        "FilterVersion": "6.5.49",
        "Filter_Enabled": true,
        "Filter_Human_Label": "Fill Bad Data",
        "Filter_Name": "FillBadData",
        "Filter_Uuid": "{30ae0a1e-3d94-5dab-b279-c5727ab5d7ff}",
        "MinAllowedDefectSize": 1000,
        "StoreAsNewPhase": 0
    },
    "25": {
        "EquivalentDiametersArrayName": "EquivalentDiameters",
        "FeatureAttributeMatrixName": {
            "Attribute Matrix Name": "CellFeatureData",
            "Data Array Name": "",
            "Data Container Name": "ImageDataContainer"
        },
        "FeatureIdsArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "MTRIds",
            "Data Container Name": "ImageDataContainer"
        },
        "FilterVersion": "6.5.49",
        "Filter_Enabled": true,
        "Filter_Human_Label": "Find Feature Sizes",
        "Filter_Name": "FindSizes",
        "Filter_Uuid": "{656f144c-a120-5c3b-bee5-06deab438588}",
        "NumElementsArrayName": "NumCells",
        "SaveElementSizes": 0,
        "VolumesArrayName": "Volumes"
    },
    "26": {
        "CreatedArrayName": "AvgEulerAngles",
        "FeatureIdsArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "MTRIds",
            "Data Container Name": "ImageDataContainer"
        },
        "FilterVersion": "1.2.675",
        "Filter_Enabled": true,
        "Filter_Human_Label": "Create Element Array from Feature Array",
        "Filter_Name": "CopyFeatureArrayToElementArray",
        "Filter_Uuid": "{99836b75-144b-5126-b261-b411133b5e8a}",
        "SelectedFeatureArrayPath": {
            "Attribute Matrix Name": "CellFeatureData",
            "Data Array Name": "AvgEuler",
            "Data Container Name": "ImageDataContainer"
        }
    },
    "27": {
        "AvgCAxesArrayPath": {
            "Attribute Matrix Name": "CellFeatureData",
            "Data Array Name": "AvgCAxes",
            "Data Container Name": "ImageDataContainer"
        },
        "FeatureIdsArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "MTRIds",
            "Data Container Name": "ImageDataContainer"
        },
        "FilterVersion": "6.5.49",
        "Filter_Enabled": true,
        "Filter_Human_Label": "Find Average C-Axis Orientations",
        "Filter_Name": "FindAvgCAxes",
        "Filter_Uuid": "{c5a9a96c-7570-5279-b383-cc25ebae0046}",
        "QuatsArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "Quats",
            "Data Container Name": "ImageDataContainer"
        }
    },
    "28": {
        "CreatedArrayName": "AvgCAxes",
        "FeatureIdsArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "MTRIds",
            "Data Container Name": "ImageDataContainer"
        },
        "FilterVersion": "1.2.675",
        "Filter_Enabled": true,
        "Filter_Human_Label": "Create Element Array from Feature Array",
        "Filter_Name": "CopyFeatureArrayToElementArray",
        "Filter_Uuid": "{99836b75-144b-5126-b261-b411133b5e8a}",
        "SelectedFeatureArrayPath": {
            "Attribute Matrix Name": "CellFeatureData",
            "Data Array Name": "AvgCAxes",
            "Data Container Name": "ImageDataContainer"
        }
    },
    "29": {
        "AvgCAxesArrayPath": {
            "Attribute Matrix Name": "CellFeatureData",
            "Data Array Name": "AvgCAxes",
            "Data Container Name": "ImageDataContainer"
        },
        "CellPhasesArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "Phases",
            "Data Container Name": "ImageDataContainer"
        },
        "FeatureAvgCAxisMisorientationsArrayName": "FeatureAvgCAxisMisorientations",
        "FeatureIdsArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "MTRIds",
            "Data Container Name": "ImageDataContainer"
        },
        "FeatureReferenceCAxisMisorientationsArrayName": "FeatureReferenceCAxisMisorientations",
        "FeatureStdevCAxisMisorientationsArrayName": "FeatureStdevCAxisMisorientations",
        "FilterVersion": "6.5.49",
        "Filter_Enabled": true,
        "Filter_Human_Label": "Find Feature Reference C-Axis Misalignments",
        "Filter_Name": "FindFeatureReferenceCAxisMisorientations",
        "Filter_Uuid": "{1a0848da-2edd-52c0-b111-62a4dc6d2886}",
        "QuatsArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "Quats",
            "Data Container Name": "ImageDataContainer"
        }
    },
    "30": {
        "CellEulerAnglesArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "EulerAngles",
            "Data Container Name": "ImageDataContainer"
        },
        "CellIPFColorsArrayName": "IPF_Cleaned_Z",
        "CellPhasesArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "Phases",
            "Data Container Name": "ImageDataContainer"
        },
        "CrystalStructuresArrayPath": {
            "Attribute Matrix Name": "CellEnsembleData",
            "Data Array Name": "CrystalStructures",
            "Data Container Name": "ImageDataContainer"
        },
        "FilterVersion": "6.5.49",
        "Filter_Enabled": true,
        "Filter_Human_Label": "Generate IPF Colors",
        "Filter_Name": "GenerateIPFColors",
        "Filter_Uuid": "{a50e6532-8075-5de5-ab63-945feb0de7f7}",
        "GoodVoxelsArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "Mask",
            "Data Container Name": "ImageDataContainer"
        },
        "ReferenceDir": {
            "x": 0,
            "y": 0,
            "z": 1
        },
        "UseGoodVoxels": 1
    },
    "31": {
        "CellEulerAnglesArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "EulerAngles",
            "Data Container Name": "ImageDataContainer"
        },
        "CellIPFColorsArrayName": "IPF_Cleaned_Y",
        "CellPhasesArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "Phases",
            "Data Container Name": "ImageDataContainer"
        },
        "CrystalStructuresArrayPath": {
            "Attribute Matrix Name": "CellEnsembleData",
            "Data Array Name": "CrystalStructures",
            "Data Container Name": "ImageDataContainer"
        },
        "FilterVersion": "6.5.49",
        "Filter_Enabled": true,
        "Filter_Human_Label": "Generate IPF Colors",
        "Filter_Name": "GenerateIPFColors",
        "Filter_Uuid": "{a50e6532-8075-5de5-ab63-945feb0de7f7}",
        "GoodVoxelsArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "Mask",
            "Data Container Name": "ImageDataContainer"
        },
        "ReferenceDir": {
            "x": 0,
            "y": 1,
            "z": 0
        },
        "UseGoodVoxels": 1
    },
    "32": {
        "CellEulerAnglesArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "EulerAngles",
            "Data Container Name": "ImageDataContainer"
        },
        "CellIPFColorsArrayName": "IPF_Cleaned_X",
        "CellPhasesArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "Phases",
            "Data Container Name": "ImageDataContainer"
        },
        "CrystalStructuresArrayPath": {
            "Attribute Matrix Name": "CellEnsembleData",
            "Data Array Name": "CrystalStructures",
            "Data Container Name": "ImageDataContainer"
        },
        "FilterVersion": "6.5.49",
        "Filter_Enabled": true,
        "Filter_Human_Label": "Generate IPF Colors",
        "Filter_Name": "GenerateIPFColors",
        "Filter_Uuid": "{a50e6532-8075-5de5-ab63-945feb0de7f7}",
        "GoodVoxelsArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "Mask",
            "Data Container Name": "ImageDataContainer"
        },
        "ReferenceDir": {
            "x": 1,
            "y": 0,
            "z": 0
        },
        "UseGoodVoxels": 1
    },
    "33": {
        "CellEulerAnglesArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "AvgEulerAngles",
            "Data Container Name": "ImageDataContainer"
        },
        "CellIPFColorsArrayName": "IPF_Average_Z",
        "CellPhasesArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "Phases",
            "Data Container Name": "ImageDataContainer"
        },
        "CrystalStructuresArrayPath": {
            "Attribute Matrix Name": "CellEnsembleData",
            "Data Array Name": "CrystalStructures",
            "Data Container Name": "ImageDataContainer"
        },
        "FilterVersion": "6.5.49",
        "Filter_Enabled": true,
        "Filter_Human_Label": "Generate IPF Colors",
        "Filter_Name": "GenerateIPFColors",
        "Filter_Uuid": "{a50e6532-8075-5de5-ab63-945feb0de7f7}",
        "GoodVoxelsArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "Mask",
            "Data Container Name": "ImageDataContainer"
        },
        "ReferenceDir": {
            "x": 0,
            "y": 0,
            "z": 1
        },
        "UseGoodVoxels": 1
    },
    "34": {
        "CellEulerAnglesArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "AvgEulerAngles",
            "Data Container Name": "ImageDataContainer"
        },
        "CellIPFColorsArrayName": "IPF_Average_Y",
        "CellPhasesArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "Phases",
            "Data Container Name": "ImageDataContainer"
        },
        "CrystalStructuresArrayPath": {
            "Attribute Matrix Name": "CellEnsembleData",
            "Data Array Name": "CrystalStructures",
            "Data Container Name": "ImageDataContainer"
        },
        "FilterVersion": "6.5.49",
        "Filter_Enabled": true,
        "Filter_Human_Label": "Generate IPF Colors",
        "Filter_Name": "GenerateIPFColors",
        "Filter_Uuid": "{a50e6532-8075-5de5-ab63-945feb0de7f7}",
        "GoodVoxelsArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "Mask",
            "Data Container Name": "ImageDataContainer"
        },
        "ReferenceDir": {
            "x": 0,
            "y": 1,
            "z": 0
        },
        "UseGoodVoxels": 1
    },
    "35": {
        "CellEulerAnglesArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "AvgEulerAngles",
            "Data Container Name": "ImageDataContainer"
        },
        "CellIPFColorsArrayName": "IPF_Average_X",
        "CellPhasesArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "Phases",
            "Data Container Name": "ImageDataContainer"
        },
        "CrystalStructuresArrayPath": {
            "Attribute Matrix Name": "CellEnsembleData",
            "Data Array Name": "CrystalStructures",
            "Data Container Name": "ImageDataContainer"
        },
        "FilterVersion": "6.5.49",
        "Filter_Enabled": true,
        "Filter_Human_Label": "Generate IPF Colors",
        "Filter_Name": "GenerateIPFColors",
        "Filter_Uuid": "{a50e6532-8075-5de5-ab63-945feb0de7f7}",
        "GoodVoxelsArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "Mask",
            "Data Container Name": "ImageDataContainer"
        },
        "ReferenceDir": {
            "x": 1,
            "y": 0,
            "z": 0
        },
        "UseGoodVoxels": 1
    },
    "36": {
        "BoundaryCellsArrayName": "BoundaryCells",
        "CellFeatureAttributeMatrixPath": {
            "Attribute Matrix Name": "CellFeatureData",
            "Data Array Name": "",
            "Data Container Name": "ImageDataContainer"
        },
        "FeatureIdsArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "MTRIds",
            "Data Container Name": "ImageDataContainer"
        },
        "FilterVersion": "6.5.49",
        "Filter_Enabled": true,
        "Filter_Human_Label": "Find Feature Neighbors",
        "Filter_Name": "FindNeighbors",
        "Filter_Uuid": "{97cf66f8-7a9b-5ec2-83eb-f8c4c8a17bac}",
        "NeighborListArrayName": "NeighborList2",
        "NumNeighborsArrayName": "NumNeighbors2",
        "SharedSurfaceAreaListArrayName": "SharedSurfaceAreaList2",
        "StoreBoundaryCells": 0,
        "StoreSurfaceFeatures": 0,
        "SurfaceFeaturesArrayName": "SurfaceFeatures"
    },
    "37": {
        "AvgMisorientationsArrayName": "AvgMisorientations",
        "AvgQuatsArrayPath": {
            "Attribute Matrix Name": "CellFeatureData",
            "Data Array Name": "AvgQuats",
            "Data Container Name": "ImageDataContainer"
        },
        "CrystalStructuresArrayPath": {
            "Attribute Matrix Name": "CellEnsembleData",
            "Data Array Name": "CrystalStructures",
            "Data Container Name": "ImageDataContainer"
        },
        "FeaturePhasesArrayPath": {
            "Attribute Matrix Name": "CellFeatureData",
            "Data Array Name": "Phases",
            "Data Container Name": "ImageDataContainer"
        },
        "FilterVersion": "6.5.49",
        "Filter_Enabled": true,
        "Filter_Human_Label": "Find Feature Neighbor Misorientations",
        "Filter_Name": "FindMisorientations",
        "Filter_Uuid": "{286dd493-4fea-54f4-b59e-459dd13bbe57}",
        "FindAvgMisors": 0,
        "MisorientationListArrayName": "MisorientationList",
        "NeighborListArrayPath": {
            "Attribute Matrix Name": "CellFeatureData",
            "Data Array Name": "NeighborList2",
            "Data Container Name": "ImageDataContainer"
        }
    },
    "38": {
        "AvgCAxisMisalignmentsArrayName": "AvgCAxisMisalignments",
        "AvgQuatsArrayPath": {
            "Attribute Matrix Name": "CellFeatureData",
            "Data Array Name": "AvgQuats",
            "Data Container Name": "ImageDataContainer"
        },
        "CAxisMisalignmentListArrayName": "CAxisMisalignmentList",
        "CrystalStructuresArrayPath": {
            "Attribute Matrix Name": "CellEnsembleData",
            "Data Array Name": "CrystalStructures",
            "Data Container Name": "ImageDataContainer"
        },
        "FeaturePhasesArrayPath": {
            "Attribute Matrix Name": "CellFeatureData",
            "Data Array Name": "Phases",
            "Data Container Name": "ImageDataContainer"
        },
        "FilterVersion": "6.5.49",
        "Filter_Enabled": true,
        "Filter_Human_Label": "Find Feature Neighbor C-Axis Misalignments",
        "Filter_Name": "FindFeatureNeighborCAxisMisalignments",
        "Filter_Uuid": "{cdd50b83-ea09-5499-b008-4b253cf4c246}",
        "FindAvgMisals": 0,
        "NeighborListArrayPath": {
            "Attribute Matrix Name": "CellFeatureData",
            "Data Array Name": "NeighborList2",
            "Data Container Name": "ImageDataContainer"
        }
    },
    "39": {
        "CreatedArrayName": "volume_map",
        "FeatureIdsArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "MTRIds",
            "Data Container Name": "ImageDataContainer"
        },
        "FilterVersion": "1.2.675",
        "Filter_Enabled": true,
        "Filter_Human_Label": "Create Element Array from Feature Array",
        "Filter_Name": "CopyFeatureArrayToElementArray",
        "Filter_Uuid": "{99836b75-144b-5126-b261-b411133b5e8a}",
        "SelectedFeatureArrayPath": {
            "Attribute Matrix Name": "CellFeatureData",
            "Data Array Name": "Volumes",
            "Data Container Name": "ImageDataContainer"
        }
    },
    "40": {
        "DestinationArrayName": "MTR_Mask",
        "FilterVersion": "1.2.675",
        "Filter_Enabled": true,
        "Filter_Human_Label": "Threshold Objects",
        "Filter_Name": "MultiThresholdObjects",
        "Filter_Uuid": "{014b7300-cf36-5ede-a751-5faf9b119dae}",
        "SelectedThresholds": [
            {
                "Attribute Array Name": "volume_map",
                "Attribute Matrix Name": "CellData",
                "Comparison Operator": 1,
                "Comparison Value": {{ min_mtr_size }},
                "Data Container Name": "ImageDataContainer"
            }
        ]
    },
    "41": {
        "CellEulerAnglesArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "EulerAngles",
            "Data Container Name": "ImageDataContainer"
        },
        "CellIPFColorsArrayName": "IPF_MTR_Z",
        "CellPhasesArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "Phases",
            "Data Container Name": "ImageDataContainer"
        },
        "CrystalStructuresArrayPath": {
            "Attribute Matrix Name": "CellEnsembleData",
            "Data Array Name": "CrystalStructures",
            "Data Container Name": "ImageDataContainer"
        },
        "FilterVersion": "6.5.49",
        "Filter_Enabled": true,
        "Filter_Human_Label": "Generate IPF Colors",
        "Filter_Name": "GenerateIPFColors",
        "Filter_Uuid": "{a50e6532-8075-5de5-ab63-945feb0de7f7}",
        "GoodVoxelsArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "MTR_Mask",
            "Data Container Name": "ImageDataContainer"
        },
        "ReferenceDir": {
            "x": 0,
            "y": 0,
            "z": 1
        },
        "UseGoodVoxels": 1
    },
    "42": {
        "CellEulerAnglesArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "EulerAngles",
            "Data Container Name": "ImageDataContainer"
        },
        "CellIPFColorsArrayName": "IPF_MTR_Y",
        "CellPhasesArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "Phases",
            "Data Container Name": "ImageDataContainer"
        },
        "CrystalStructuresArrayPath": {
            "Attribute Matrix Name": "CellEnsembleData",
            "Data Array Name": "CrystalStructures",
            "Data Container Name": "ImageDataContainer"
        },
        "FilterVersion": "6.5.49",
        "Filter_Enabled": true,
        "Filter_Human_Label": "Generate IPF Colors",
        "Filter_Name": "GenerateIPFColors",
        "Filter_Uuid": "{a50e6532-8075-5de5-ab63-945feb0de7f7}",
        "GoodVoxelsArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "MTR_Mask",
            "Data Container Name": "ImageDataContainer"
        },
        "ReferenceDir": {
            "x": 0,
            "y": 1,
            "z": 0
        },
        "UseGoodVoxels": 1
    },
    "43": {
        "CellEulerAnglesArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "EulerAngles",
            "Data Container Name": "ImageDataContainer"
        },
        "CellIPFColorsArrayName": "IPF_MTR_X",
        "CellPhasesArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "Phases",
            "Data Container Name": "ImageDataContainer"
        },
        "CrystalStructuresArrayPath": {
            "Attribute Matrix Name": "CellEnsembleData",
            "Data Array Name": "CrystalStructures",
            "Data Container Name": "ImageDataContainer"
        },
        "FilterVersion": "6.5.49",
        "Filter_Enabled": true,
        "Filter_Human_Label": "Generate IPF Colors",
        "Filter_Name": "GenerateIPFColors",
        "Filter_Uuid": "{a50e6532-8075-5de5-ab63-945feb0de7f7}",
        "GoodVoxelsArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "MTR_Mask",
            "Data Container Name": "ImageDataContainer"
        },
        "ReferenceDir": {
            "x": 1,
            "y": 0,
            "z": 0
        },
        "UseGoodVoxels": 1
    },
    "44": {
        "CellEulerAnglesArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "EulerAngles",
            "Data Container Name": "ImageDataContainer"
        },
        "CellPhasesArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "Phases",
            "Data Container Name": "ImageDataContainer"
        },
        "CrystalStructuresArrayPath": {
            "Attribute Matrix Name": "CellEnsembleData",
            "Data Array Name": "CrystalStructures",
            "Data Container Name": "ImageDataContainer"
        },
        "FilterVersion": "6.5.49",
        "Filter_Enabled": true,
        "Filter_Human_Label": "Export Pole Figure Images",
        "Filter_Name": "WritePoleFigure",
        "Filter_Uuid": "{a10bb78e-fcff-553d-97d6-830a43c85385}",
        "GenerationAlgorithm": 0,
        "GoodVoxelsArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "Mask",
            "Data Container Name": "ImageDataContainer"
        },
        "ImageFormat": 0,
        "ImageLayout": 2,
        "ImagePrefix": "Cleaned_Pole_Figure_",
        "ImageSize": 256,
        "LambertSize": 64,
        "MaterialNameArrayPath": {
            "Attribute Matrix Name": "CellEnsembleData",
            "Data Array Name": "MaterialName",
            "Data Container Name": "ImageDataContainer"
        },
        "NumColors": 32,
        "OutputPath": "{{ output_path('PoleFigures') }}",
        "Title": "Cleaned Pole Figure",
        "UseGoodVoxels": 1
    },
    "45": {
        "CellEulerAnglesArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "EulerAngles",
            "Data Container Name": "ImageDataContainer"
        },
        "CellPhasesArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "Phases",
            "Data Container Name": "ImageDataContainer"
        },
        "CrystalStructuresArrayPath": {
            "Attribute Matrix Name": "CellEnsembleData",
            "Data Array Name": "CrystalStructures",
            "Data Container Name": "ImageDataContainer"
        },
        "FilterVersion": "6.5.49",
        "Filter_Enabled": true,
        "Filter_Human_Label": "Export Pole Figure Images",
        "Filter_Name": "WritePoleFigure",
        "Filter_Uuid": "{a10bb78e-fcff-553d-97d6-830a43c85385}",
        "GenerationAlgorithm": 0,
        "GoodVoxelsArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "MTR_Mask",
            "Data Container Name": "ImageDataContainer"
        },
        "ImageFormat": 0,
        "ImageLayout": 2,
        "ImagePrefix": "MTR_Pole_Figure_",
        "ImageSize": 256,
        "LambertSize": 64,
        "MaterialNameArrayPath": {
            "Attribute Matrix Name": "CellEnsembleData",
            "Data Array Name": "MaterialName",
            "Data Container Name": "ImageDataContainer"
        },
        "NumColors": 32,
        "OutputPath": "{{ output_path('PoleFigures') }}",
        "Title": "MTR-Only Pole Figure",
        "UseGoodVoxels": 1
    },
    "46": {
        "FileName": "{{ output_path(basename, '_IPF_Raw_Z.tif') }}",
        "FilterVersion": "1.0.454",
        "Filter_Enabled": true,
        "Filter_Human_Label": "ITK::Image Writer",
        "Filter_Name": "ITKImageWriter",
        "Filter_Uuid": "{11473711-f94d-5d96-b749-ec36a81ad338}",
        "ImageArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "IPF_Raw_Z",
            "Data Container Name": "ImageDataContainer"
        },
        "Plane": 0
    },
    "47": {
        "FileName": "{{ output_path(basename, '_IPF_Cleaned_Z.tif') }}",
        "FilterVersion": "1.0.454",
        "Filter_Enabled": true,
        "Filter_Human_Label": "ITK::Image Writer",
        "Filter_Name": "ITKImageWriter",
        "Filter_Uuid": "{11473711-f94d-5d96-b749-ec36a81ad338}",
        "ImageArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "IPF_Cleaned_Z",
            "Data Container Name": "ImageDataContainer"
        },
        "Plane": 0
    },
    "48": {
        "FileName": "{{ output_path(basename,'_IPF_Average_Z.tif') }}",
        "FilterVersion": "1.0.454",
        "Filter_Enabled": true,
        "Filter_Human_Label": "ITK::Image Writer",
        "Filter_Name": "ITKImageWriter",
        "Filter_Uuid": "{11473711-f94d-5d96-b749-ec36a81ad338}",
        "ImageArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "IPF_Average_Z",
            "Data Container Name": "ImageDataContainer"
        },
        "Plane": 0
    },
    "49": {
        "FileName": "{{ output_path(basename,'_IPF_MTR_Z.tif') }}",
        "FilterVersion": "1.0.454",
        "Filter_Enabled": true,
        "Filter_Human_Label": "ITK::Image Writer",
        "Filter_Name": "ITKImageWriter",
        "Filter_Uuid": "{11473711-f94d-5d96-b749-ec36a81ad338}",
        "ImageArrayPath": {
            "Attribute Matrix Name": "CellData",
            "Data Array Name": "IPF_MTR_Z",
            "Data Container Name": "ImageDataContainer"
        },
        "Plane": 0
    },
    "50": {
        "FilterVersion": "1.2.675",
        "Filter_Enabled": true,
        "Filter_Human_Label": "Write DREAM.3D Data File",
        "Filter_Name": "DataContainerWriter",
        "Filter_Uuid": "{3fcd4c43-9d75-5b86-aad4-4441bc914f37}",
        "OutputFile": "{{ output_path(basename, '.dream3d') }}",
        "WriteTimeSeries": 0,
        "WriteXdmfFile": 1
    },
    "PipelineBuilder": {
        "Name": "PW_ANG_routine_v65",
        "Number_Filters": 51,
        "Version": 6.5
    }
}